@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Madimi+One&display=swap');

@font-face {
    font-family: 'sis';
    src: url('../assets/fonts/Sis-JpRJm.ttf') format('truetype');
    /* You can also include additional font formats for better compatibility */
  }


*{
    margin: 0;
    padding: 0;
}


body{
    min-width: 100vh;
}

#background{
    width: 100%;
    height: 100vh;
    background: url("../assets/bg.png");
    background-size: cover;
}

.blue-a{
    color: #00FFFF;
    position: relative;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9.9px;
}

.mid-text-1{
    position: relative;
    width: 799px;
    height: 129px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Handjet;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mid-text-2{
    width: 812px;
    flex-shrink: 0;
    color: #00E0FF;
    font-family: Handjet;
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#rem-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){

    .blue-a{
        height: 20px;
        width: 20px;
    }

    #rem-page{
        gap: 43px;
    }
    
    .mid-text-1{
        color: #FFF;
        text-align: center;
        font-family: Handjet;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 108.252vw;
        height: 11.366vh;
        flex-direction: column;
    }

    .mid-text-1 h1{
        margin-left: 23.544vw;
        margin-right: 23.544vw;
    }

    .mid-text-2{
        width: 56.553vw;
        flex-shrink: 0;
        color: #00E0FF;
        font-family: Handjet;
        font-size: 7.767vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
    }
}


