/* Header */

#navbar{
    position: relative;
    display: flex;
    padding: 34px 51px 34px 51px;
    gap: 30.729vw;
}

#name:hover{
    cursor: pointer;
}

#name{
    color: white;
    font-family: 'sis';
    font-weight: 400;
    font-size: 3.125vw;
}

#items{
    display: flex;
    gap: 3.255vw;

}

#items li{
    color: white;
    list-style: none;
    font-family: 'sis';
    font-weight: 400;
    font-size: 40px;
    transition: 0.5s;
}

#items li:hover{
    color: #0ff; 
    cursor: pointer;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }


  @media only screen and (max-width: 767px){

    body{
        overflow: hidden;
    }

    #items{
        display: none;
        flex-direction: column;
        transition: 0.5s;
    }

    #navbar{
        position: relative;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        transition: 0.5s;
        background: transparent;
        align-items: center;
    }

    #name{
        color: #FFF;
        text-align: center;
        font-family: Sis;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 60%;
    }

    #items li{
        font-size: 32px;
    }

    
  }
  